<div id="<%= dom_id forecast %>">

  <h2>Forecast</h2>

  <table style="width:100%">
    <tr>
      <td><strong>Zip code:</strong><%= forecast.zip_code %></td>
      <td><strong>Weather:</strong><%= forecast.weather %></td>
      <td><strong>Pressure:</strong><%= forecast.pressure %></td>
    </tr>
    <tr>
      <td><strong>City:</strong><%= forecast.city %></td>
      <td><strong>Temp:</strong><%= forecast.temp %></td>
      <td><strong>Humidity:</strong><%= forecast.humidity %></td>
    </tr>
    <tr>
      <td><strong>Coord lon:</strong><%= forecast.coord_lon %></td>
      <td><strong>Temp feels like:</strong><%= forecast.temp_feels_like %></td>
      <td><strong>Wind speed:</strong><%= forecast.wind_speed %></td>
    </tr>
    <tr>
      <td><strong>Coord lat:</strong><%= forecast.coord_lat %></td>
      <td><strong>Temp min:</strong><%= forecast.temp_min %></td>
      <td><strong>Wind deg:</strong><%= forecast.wind_deg %></td>
    </tr>
    <tr>
      <td></td>
      <td><strong>Temp max:</strong><%= forecast.temp_max %></td>
      <td><strong>Wind gust:</strong><%= forecast.wind_gust %></td>
    </tr>
  </table>
</div>
