<div id="<%= dom_id forecast %>">
  <p>
    <strong>Zip code:</strong>
    <%= forecast.zip_code %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%= forecast.weather %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= forecast.temp %>
  </p>

  <p>
    <strong>Temp feels like:</strong>
    <%= forecast.temp_feels_like %>
  </p>

  <p>
    <strong>Temp min:</strong>
    <%= forecast.temp_min %>
  </p>

  <p>
    <strong>Temp max:</strong>
    <%= forecast.temp_max %>
  </p>

  <p>
    <strong>Pressure:</strong>
    <%= forecast.pressure %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= forecast.humidity %>
  </p>

  <p>
    <strong>Wind speed:</strong>
    <%= forecast.wind_speed %>
  </p>

  <p>
    <strong>Wind deg:</strong>
    <%= forecast.wind_deg %>
  </p>

  <p>
    <strong>Wind gust:</strong>
    <%= forecast.wind_gust %>
  </p>

  <p>
    <strong>City:</strong>
    <%= forecast.city %>
  </p>

  <p>
    <strong>Coord lon:</strong>
    <%= forecast.coord_lon %>
  </p>

  <p>
    <strong>Coord lat:</strong>
    <%= forecast.coord_lat %>
  </p>

</div>
